<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISoapGateway" maxBufferPoolSize="20000000"
                    maxBufferSize="20000000" maxReceivedMessageSize="20000000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52428/GatewayService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISoapGateway"
                contract="ServiceReference1.ISoapGateway" name="BasicHttpBinding_ISoapGateway" />
        </client>
    </system.serviceModel>
</configuration>