<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_SoapGateway" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52428/GatewayService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SoapGateway"
                contract="JCDecauxSoapGateway.SoapGateway" name="BasicHttpBinding_SoapGateway" />
        </client>
    </system.serviceModel>
</configuration>